.grid {
    text-align: center;
    display: grid;
    grid-template: repeat(10, auto) / 1rem repeat(10, auto) 1rem;
    grid-gap: 1rem;
}

.logga {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.navigering {
    align-self: center;
    grid-column: 4 / -3;
    grid-row: 2 / 4;
}

img {
    max-width: 100%;
    height: auto;
}

.slide {
    grid-column: 3 / -3;
    grid-row: 4 / 5;
}

.bokarum {
    place-self: center;
    align-self: center;
    grid-column: 3 / 6;
    grid-row: 5 / 8;
}

.bokalokal {
    place-self: center;
    align-self: center;
    grid-column: 6 / -3;
    grid-row: 5 / 8;
}

body {
    background-color: whitesmoke;
    margin: 0rem;
}

.fot {
    grid-column: 1 / -1;
    grid-row: -1 / -1;
}

.sidfot {
    background-color: gainsboro;
    text-align: center;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    grid-gap: 1rem;
}

.tele {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tele2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.mail {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.mail2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.text {
    color: #f2f2f2;
    background-color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
